* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, serif;
	background-color: #555;
	color: whitesmoke;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin-left: 1rem;
	background-color: #881619;
}

header {
	background-color: #881619;
}

nav {
	margin: auto;
	max-width: 70%;
}

main {
	min-height: 53rem;
}


footer p,
span {
	text-align: center;
	background-color: #881619;
	padding: 0.5rem;
}

#currentyear {
	color: yellow;
}

#lastmodified {
	color: yellow;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: whitesmoke;
	background-color: #881619;
	top: 1rem;
	right: 1rem;
	margin-bottom: 0;
	margin-left: 90%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
	font-size: 1.7rem;
	font-family: Arial, Helvetica, sans-serif;
}

.menudiv {
	background-color: #881619;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: #881619;
	color: whitesmoke;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	background-color: #881619;
	color: #fff;
}
.navigation a:hover {
	color: yellow;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

/* large view navigation ************************************/
@media (min-width: 45em) {
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}
