* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #333;
    color: white;
}

header {
    margin: 0;
    background-color: #2c6846;
}

#course-title {
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    background-color: #2c6846;
    text-align: center;
    font-size: x-large;
    color: white;
}

nav {
    margin: 0 auto;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

nav ul li {
    flex: 1 1 25%;
    color: yellow;
}

main {
    background-color: #555;
    padding-bottom: 1em;
}

h1 {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.card {
    display: grid; 
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1em;
    outline: 0.1em solid white;
    border-radius: 1em;
}


.card h2{
    text-align: center;
    background-color: #2c6846;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.card div {
    display: flex;
}

.card div img {
    height: 10em;
    width: auto;
    border-bottom-left-radius: 0.8em;
}

.card p {
    text-align: left;
    padding: 1em;
}

footer {
    display: block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2c6846;
    font-size: large;
}

#lastmodified {
    color: yellow;
}